@import './scss/panels.scss';
@import './scss/fonts.scss';


html
{
    font-family: 'Alex Brush Regular';
    font-size: 20px;
    font-weight: 200;

    box-sizing: border-box;
}

body
{
    margin: 0;

    background-image: url('../Release/assets/cat.jpeg');
}
